<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <outboundRules>
                <rule name="Cache buster HTML" preCondition="IsHTML">
                    <match filterByTags="A, Img, Link, Script" pattern="^.+\.(css|js|png|jpg)$" />
                    <action type="Rewrite" value="{R:0}?c=1239" />
                </rule>
                <rule name="Cache buster CSS" preCondition="IsCSS">
                    <match filterByTags="None" pattern="url\('(.+\.(css|png|jpg))'\)" />
                    <action type="Rewrite" value="url('{R:1}?c=1239')" />
                </rule>
                <preConditions>
                    <preCondition name="IsHTML">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                    <preCondition name="IsCSS">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/css" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
        <urlCompression doStaticCompression="true" doDynamicCompression="false" />
    </system.webServer>
</configuration>
